extends main
block content
   h1= title

   div(class='errorMessage')= errorMessage

   .container.col-md-4.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
     form(action='/processRegistration', method='post')
       div.form-group
        label(for='username') Username:
        input.form-control(type='text',
              id='username',
              name='username')

        label(for='email') Email:
        input.form-control(type='text',
              id='email',
              name='email')

        label(for='pwd') Password:
        input.form-control(type='password',
              id='pwd',
              name='pwd')
        label(for='pwd') Confirm Password:
        input.form-control(type='password',
              id='pwd',
              name='pwd')
        br
        button.btn.btn-primary(type='submit') Sign Up
